body {
  background-color: #5bd1d7;
  min-width: 320px;
}

.content {
  font-family: 'Roboto', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  /* width: 70%; */
  background-color: #004d61;  
}

#perfil {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  float: right;
  margin: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}

h1, h2 {
  color: #ff502f;
}

h3 {
  color: #5bd1d7;
}

ul {
  color: #fff;
  background-color: #348498;
  padding: 20px;
}

ul.habilidades {
  background-color: #ff502f;
}